@page "/venda"
@using Common.ViewModel

@inject HttpClient Http
@inject IJSRuntime JSRuntime

@inject NavigationManager navigationManager
@inject WebApiServices webApiServices
@inject IMatToaster matToaster

<div class="mb-20">
    <h1>Vendas</h1>
    <p>Lista de vendas.</p>
</div>

@if (vendas == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <MatTable Class="mat-elevation-z5 table table-striped table-hover"
              Items="@vendas"
              LoadInitialData="true"
              Striped="true"
              DebounceMilliseconds="150"
              PageSize="5"
              PageRecordCountLabel="Itens por página:"
              PageLabel="Página"
              FilterByColumnName="NomeCliente"
              SearchTermFieldPlaceHolder="Cliente"
              SearchTermFieldLabel="Pesquisar">
        <MatTableHeader>
            <th>
                <div style="width:135px;">
                    <MatButton class="btn btn-default"
                               @onclick="@( () => OpenModal(1))"
                               Icon="playlist_add"
                               Label="Adicionar"
                               Raised="true">
                    </MatButton>
                </div>
            </th>
            <th>
                <div style="width:150px;">
                    Venda ID
                </div>
            </th>
            <th>
                <div style="width:150px;">
                    Nota Fiscal
                </div>
            </th>
            <th>
                <div style="width:150px;">
                    Data N.F
                </div>
            </th>
            <th>
                <div style="width:150px;">
                    Valor Venda
                </div>
            </th>
            <th>
                <div style="width:400px;">
                    Cliente
                </div>
            </th>
            @*<th>Valor Compra</th>
            <th>% Imposto</th>
            <th>Frete 01</th>
            <th>Frete 02</th>
            <th>% C.O</th>
            <th>Outras Despesas</th>
            <th>Custo Total</th>
            <th>% Comissão</th>
            <th>Valor Comissão</th>
            <th>% Lucro</th>
            <th>Valor Lucro</th>
            <th>Descrição</th>*@
        </MatTableHeader>
        <MatTableRow Context="venda">
            <td>
                <MatIconButton Icon="delete"></MatIconButton>
            </td>
            <td>@venda.VendaId</td>
            <td>@venda.NumeroNotaFiscal</td>
            <td>@venda.DataNF.ToString("dd//MM/yyyy")</td>
            <td>@venda.ValorVenda</td>
            <td>@venda.NomeCliente</td>
            @*<td>@venda.ValorCompra</td>
            <td>@venda.PercentualImposto</td>
            <td>@venda.ValorFrete1</td>
            <td>@venda.ValorFrete2</td>
            <td>@venda.PercentualCustoOperacional</td>
            <td>@venda.ValorOutrasDespesas</td>
            <td>@venda.ValorCustoTotal</td>
            <td>@venda.PercentualComissao</td>
            <td>@venda.ValorComissao</td>
            <td>@venda.PercentualLucro</td>
            <td>@venda.ValorLucro</td>
            <td>@venda.Descricao</td>*@
        </MatTableRow>
    </MatTable>
}

@if (modalOpen)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog modal-max">
            <div class="modal-content">

                <div class="panel panel-filled">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="panel-close" @onclick="CloseModal"><i class="fa fa-times"></i></a>
                        </div>
                        <h3 class="modal-title">@modalTitle</h3>
                    </div>
                    <br />
                    <div class="panel-body">

                        <EditForm Model="@model"
                                  OnValidSubmit="@HandleValidSubmit"
                                  OnInvalidSubmit="@HandleInvalidSubmit">

                            <FluentValidationValidator />
                            @*<ValidationSummary />*@

                            <div class="row mb-20">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="NumeroNotaFiscal">N.F</label>
                                        <InputText Class="form-control" 
                                                   Id="NumeroNotaFiscal" 
                                                   name="NumeroNotaFiscal" 
                                                   @bind-Value="model.NumeroNotaFiscal"></InputText>
                                        <ValidationMessage For="(() => model.NumeroNotaFiscal)" />
                                    </div>
                                    <div class="col-lg-3">
                                        <p>
                                            <label for="DataNF">Data N.F</label>
                                            <MatDatePicker Required="true"
                                                           Id="DataNF"
                                                           name="DataNF"
                                                           AllowInput="false"
                                                           Format="dd/MM/yyyy"
                                                           @bind-Value="model.DataNF">
                                            </MatDatePicker>
                                            <ValidationMessage For="(() => model.DataNF)" />
                                        </p>
                                    </div>
                                    <div class="col-lg-5">
                                        <label for="NomeCliente">Cliente</label>
                                        <InputText Class="form-control" 
                                                   Id="NomeCliente" 
                                                   name="NomeCliente" 
                                                   @bind-Value="model.NomeCliente"></InputText>
                                        <ValidationMessage For="(() => model.NomeCliente)" />
                                    </div>
                                    <div class="col-lg-2">
                                        <SwInputText Label="Valor de Venda"
                                                     Name="ValorVenda"
                                                     @bind-Value="model.ValorVenda"
                                                     ValidationFor="@(() => model.ValorVenda)" />
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-20">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="ValorCompra">Valor de Compra</label>
                                        <input type="text" class="form-control" id="ValorCompra" name="ValorCompra" placeholder="Valor de Compra">
                                    </div>
                                    <div class="col-lg-1">
                                        <label for="PercentualImposto">% Imposto</label>
                                        <input type="text" class="form-control" id="PercentualImposto" name="PercentualImposto" placeholder="% Imp.">
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="ValorFrete1">Frete 01</label>
                                        <input type="text" class="form-control" id="ValorFrete1" name="ValorFrete1" placeholder="Frete 01">
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="ValorFrete2">Frete 02</label>
                                        <input type="text" class="form-control" id="ValorFrete2" name="ValorFrete2" placeholder="Frete 02">
                                    </div>
                                    <div class="col-lg-1">
                                        <label for="PercentualCustoOperacional">% C.O</label>
                                        <input type="text" class="form-control" id="PercentualCustoOperacional" name="PercentualCustoOperacional" placeholder="% C.O">
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="ValorOutrasDespesas">Outras Despesas</label>
                                        <input type="text" class="form-control" id="ValorOutrasDespesas" name="ValorOutrasDespesas" placeholder="Outras Despesas">
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="ValorCustoTotal">Custo Total</label>
                                        <input type="text" class="form-control" id="ValorCustoTotal" name="ValorCustoTotal" placeholder="Custo Total">
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-20">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="PercentualComissao">% Comissão</label>
                                        <input type="text" class="form-control" id="PercentualComissao" name="PercentualComissao" placeholder="% Comissão">
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="ValorComissao">Valor Comissão</label>
                                        <input type="text" class="form-control" id="ValorComissao" name="ValorComissao" placeholder="Valor de Comissão">
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="PercentualLucro">% Lucro</label>
                                        <input type="text" class="form-control" id="PercentualLucro" name="PercentualLucro" placeholder="% Lucro">
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="ValorLucro">Valor Lucro</label>
                                        <input type="text" class="form-control" id="ValorLucro" name="ValorLucro" placeholder="Valor de Lucro">
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-20">
                                <div class=form-group>
                                    <div class="col-lg-12">
                                        <label for="Descricao">Descrição</label>
                                        <InputTextArea class="form-control" 
                                                       rows="3" 
                                                       @bind-Value="model.Descricao"></InputTextArea>
                                    </div>
                                </div>
                            </div>

                            <div class="pull-right mb-20">
                                <button type="submit" class="btn btn-accent">Salvar</button>
                            </div>

                        </EditForm>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@code {
    private EditContext editContext;
    private VendaViewModel model = new VendaViewModel();
    private VendaViewModel[] vendas;
    private bool modalOpen { get; set; }
    private string modalTitle { get; set; }

    protected async Task HandleValidSubmit()
    {
        try
        {
            await webApiServices.Post<VendaViewModel>(model, "api/Venda");
            navigationManager.NavigateTo("/venda");

            CloseModal();
            matToaster.Add("Venda cadastrada.", MatToastType.Success, "Sucesso");
            vendas = await Http.GetJsonAsync<VendaViewModel[]>("https://localhost:44301/api/Venda");
            StateHasChanged();
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.Message, MatToastType.Danger, "Erro");
            Console.WriteLine(ex.Message);
        }
    }

    protected void HandleInvalidSubmit()
    {
        matToaster.Add("Não foi possivel realizar o cadastro.", MatToastType.Warning, "Atenção");
    }

    protected override async Task OnInitializedAsync()
    {

        vendas = await Http.GetJsonAsync<VendaViewModel[]>("https://localhost:44301/api/Venda");
        editContext = new EditContext(model);
        editContext.OnFieldChanged += EditContext_OnFieldChanged;

        base.OnInitialized();
    }

    protected override void OnAfterRender(bool param)
    {
        base.OnAfterRender(true);

        SetOkDisabledStatus();
    }

    private void EditContext_OnFieldChanged(object sender, FieldChangedEventArgs e)
    {
        SetOkDisabledStatus();
    }

    private void SetOkDisabledStatus()
    {
        var validator = EditContextFluentValidationExtensions.GetValidatorForModel(model);
        var validationResults = validator.Validate(model);
        var isInvalid = validationResults.Errors.Count == 0 ? false : true;
        //Console.WriteLine(validationResults.Errors.Count);

        var task = ControlInputTypeSubmit(isInvalid);
        task.GetAwaiter();
    }

    protected async Task OpenModal(int hash)
    {
        this.model = new VendaViewModel();
        this.modalTitle = "Cadastro de Venda";
        this.modalOpen = true;
    }

    protected void CloseModal()
    {
        this.modalOpen = false;
        StateHasChanged();
    }

    // Call Functions Jquery
    private async Task ControlInputTypeSubmit(bool isInvalid)
    {
        var result = await JSRuntime.InvokeAsync<bool>("controlInputTypeSubmit", isInvalid);

        StateHasChanged();
    }
}

